html, body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Lato, sans-serif;
}
body {
    background-color: #f6f6f6;
    color: #000;
    width: 100%;
}

.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}

main {
    width: 1100px;
    margin: 0 auto;

    #hero {
        margin: 64px auto;

        h1 {
            font-size: 6em;
            margin: 0;
        }
        img {
            width: 175px;
            margin: 0 32px;
        }
        h2 {
            font-size: 1.3em;
            margin: 0;
            font-weight: 400;
        }
        p {
            font-size: 2.5em;
            font-weight: 300;
        }
        h3 {
            font-size: 1.5em;
            margin: 0;
        }
    }

    #exemples {
        margin: 64px auto;

        h2 {
            margin-top: 90px;
        }
        img {
            width: 350px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            margin-right: 80px;
        }
        .ex-descr {
            font-size: 1.2em;

            p {
                margin: 0 0 16px 0;
            }
        }
    }
}

footer {
    width: 1400px;
    margin: 32px auto;

    p {
        font-size: 0.9em;
        color: #3b3b3b;
    }
}